h1{
    text-align: center;
    margin-top: 70px;
    color:#208BE9
}

#tb{
    border: 1px #DCDCDC solid;
    width: 400px;
    height: 420px;
    margin: 50px auto;
    background-color: white
}
.myform{
    margin-right: 50px
}
/* Tabs 居中 */
::v-deep .el-tabs__nav-scroll{
    width:50%;
    margin:0 auto
}
#app{
        position:fixed;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        min-width: 1000px;
        z-index:-10;
        zoom: 1;
        background-color: #fff;
        background: url(/images/背景.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center 0;
}
.loginform{
    margin-top: 40px
}
.btn{
    width: 150px;
}
.a-login{
    text-decoration: none;
    color: white;
}
a{
    color: #A1A4AD;
    margin-left: 20px
}
.code-btn{
    margin-left: 5px
}
.btn-getCode{
    color: black
}
img{
    height:15px; 
    width: 70px; 
    cursor: pointer;
}
.warning{
    border:1px #F4F4F4 solid;
    height: 36px;
    width: 330px;
    margin: 10px 20px ;
}
p{
    text-align: center;
}
.yanzhengma{
    margin-left: 10px;
    width:100px;
    height: 40px;
}