.tfooer{
    background-color: black;
    color: aliceblue;
    clear:both;
}
.container{
    padding-top:30px;
    padding-left: 70px;
    padding-bottom: 20px
}
.network{
    text-align: right;
    padding-top: 10px
}
img{
    margin-top: -20px;
    width: 100%;
    height: 100%;
}
.weather{
    width: 20px;
    height: 20px;
}
/* 个人详细信息展示样式 */
.row{
    margin-top: 50px
}
.user-info{
    text-decoration: none;
    color:black;
    margin-left: 40px
}
a>img{
    width:80px;
    height:80px;
    margin: 0 30%
}
.user-info-show{
    background:rgb(60, 179, 113)
}
h3{
    color:white;
    margin-left:200px
}
table{
    margin:0 auto;
    width: 610px;
    height: 160px;
}
li>img{
    width:100px;
    height:100px;
    margin: 0 20px
}
.numbers{
    text-align: center
}
/* 修改个人信息样式 */

/* 时间轴展示问题 */
/* .container{
    width: 100%;
    height: 100%;
    background-color: black;
} */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        /* background-color: black; */
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 60px;
            height: 50px;
            font-size: 1px;
            line-height: 50px;
            /* font-size: 1.4em; */
            /* text-align: center; */
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/* .modal-backdrop{
    background-color: #fff
} */
/* #page5{
    overflow-y: scroll;
} */

/* 回答页面 */
.page-answer{
    margin-top: 80px
}
.btn-danger{
    margin-left: 400px
}
.question-first{
    background: #DFF1D9
}
.question{
    height: 40px;
}
.time{
    margin-left: 150px;
    /* margin-top: 20px */
}
.comment{
    margin-top: 20px
}
.btn-success{
    margin-left:550px;
    margin-top: 10px
}
/* 搜索页面 */
/* .pager{
    padding-left: -50px
} */
.find{
    margin-left: 420px
}